@{
    ViewBag.Title = "Hedgehog Otter Books";
}

<div class="jumbotron">
    <h1>Hedgehog & Otter Books</h1>
    <p class="lead">Welcome to Hedgehog & Otter Books! Explore all of the books we have in stock by clicking below!</p>
    <!--Need link to Book index page.-->
    <p>@Html.ActionLink("Find Books Now", "Index", "Book",null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.bookDisplayList.Count > 0) {
            <h2>@ViewBag.bookDisplayList[0].Title</h2>
            <p>
                @ViewBag.bookDisplayList[0].Description
            </p>
            <p>@Html.ActionLink("See This Book", "Details", "Book", new { id = ViewBag.bookDisplayList[0].Id }, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        @if (ViewBag.bookDisplayList.Count > 1) {
            <h2>@ViewBag.bookDisplayList[1].Title</h2>
            <p>@ViewBag.bookDisplayList[1].Description</p>
            <p>@Html.ActionLink("See This Book", "Details", "Book", new { id = ViewBag.bookDisplayList[1].Id }, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        @if (ViewBag.bookDisplayList.Count > 2) {
            <h2>@ViewBag.bookDisplayList[2].Title</h2>
            <p>@ViewBag.bookDisplayList[2].Description</p>
            <p>@Html.ActionLink("See This Book", "Details", "Book", new { id = ViewBag.bookDisplayList[2].Id }, new { @class = "btn btn-default" })</p>
        }
    </div>
</div>
<div class="row col-md-12">
    <p class="btn col-md-1 col-md-offset-11">@Html.ActionLink("Login", "Login", "Home")</p>
</div>