@{
    ViewBag.Title = "Hedgehog Otter Books";
}
<script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
<script>
    var options = {
     
            logo: "../Content/images/Auth0Logo.png",
            primaryColor: "#ec4889" ,      
 
            redirect: false,
            rememberLastLogin: false,
            

  
        };

    // Initiating our Auth0Lock
    var lock = new Auth0Lock(
      'k61wcYRqJjCDCrXEdvy0nwADJrEjbffZ',
      'hedgehogotter.auth0.com', options
    );

    // Listening for the authenticated event
    lock.on("authenticated", function (authResult) {
        // Use the token in authResult to getProfile() and save it to localStorage
        lock.getProfile(authResult.idToken, function (error, profile) {
            if (error) {
                // Handle error
                return;
            }
            localStorage.setItem('idToken', authResult.idToken);
            localStorage.setItem('profile', JSON.stringify(profile));
            window.location = "../Book/Admin";
        });
    });
</script>
<br />


<div class="jumbotron">
    <h1>Hedgehog & Otter Books</h1>
    <p class="lead">Welcome to Hedgehog & Otter Books! Explore all of the books we have in stock by clicking below!</p>
    <!--Need link to Book index page.-->
    <p>@Html.ActionLink("Find Books Now", "Index", "Book",null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.bookDisplayList.Count > 0) {
            <h2>@ViewBag.bookDisplayList[0].Title</h2>
            <p>
                @ViewBag.bookDisplayList[0].Description
            </p>
            <p>@Html.ActionLink("See This Book", "Details", "Book", new { id = ViewBag.bookDisplayList[0].Id }, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        @if (ViewBag.bookDisplayList.Count > 1) {
            <h2>@ViewBag.bookDisplayList[1].Title</h2>
            <p>@ViewBag.bookDisplayList[1].Description</p>
            <p>@Html.ActionLink("See This Book", "Details", "Book", new { id = ViewBag.bookDisplayList[1].Id }, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        @if (ViewBag.bookDisplayList.Count > 2) {
            <h2>@ViewBag.bookDisplayList[2].Title</h2>
            <p>@ViewBag.bookDisplayList[2].Description</p>
            <p>@Html.ActionLink("See This Book", "Details", "Book", new { id = ViewBag.bookDisplayList[2].Id }, new { @class = "btn btn-default" })</p>
        }
    </div>
</div>
<div class="row col-md-12">
    <a  onclick="lock.show()">Login</a>
</div>