@{
    ViewBag.Title = "Hedgehog Otter Books";
}

<div class="jumbotron">
    <h1>Hedgehog & Otter Books</h1>
    <p class="lead">Welcome to Hedgehog & Otter Books! Explore all of the books we have in stock by clicking below!</p>
    <!--Need link to Book index page.-->
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Find Books Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.bookDisplayList[0].Title</h2>
        <p>
            @ViewBag.bookDisplayList[0].Description
        </p>
        <!--Need link to book-->
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">See This Book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@ViewBag.bookDisplayList[1].Title</h2>
        <p>@ViewBag.bookDisplayList[1].Description</p>
        <!--Need link to book-->
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">See This Book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@ViewBag.bookDisplayList[2].Title</h2>
        <p>@ViewBag.bookDisplayList[2].Description</p>
        <!--Need link to book-->
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">See This Book &raquo;</a></p>
    </div>
</div>