@model IEnumerable<HedgeHogOtter.Models.Book>
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    if (JSON.parse(localStorage.getItem('profile')) != null && JSON.parse(localStorage.getItem('profile')).roles == "admin") {

    } else {
        window.location = "../Home/index";
    }
</script>
<h2>Create, Update and Delete Books</h2>

<button class="btn btn-default" onclick= "window.location='Create'">Create New Book</button>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
    #verifier{
        position:absolute;
        width:25%;
        height:30%;
        top: 25%;
        left:35%;
        margin: 0 auto; 
        background-color:lightblue;
        z-index:1001;
        box-shadow: 10px 10px 5px #888888;
        text-align:center;
        border-style:solid;
        visibility:hidden;
    }
</style>

    <div id="verifier">
        <br />
        <p><b>Deleting this is permanent,</b></p>
        <br> are you sure you want to do this?<br /><br />
        <form action="Delete" method="post">
             <input type="hidden" id="hiddenPost" />
             <button class="btn btn-default" id="deleter" name="id" value="" type="submit">Yes</button>
             <button type="button" class="btn btn-default" onclick="verify(1)">Cancel</button>
        </form>
    </div>

    <div id="BookTable1">
        <form method="POST" id="admin_book_form">
        <table class="table table-striped table-hover" style="border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;"><img style="height:20px;" src="http://imgur.com/m445R1o" /></th>
                <th style="border: 1px solid black;">Book Title:</th>
                <th style="border: 1px solid black;">Author:</th>
                <th style="border: 1px solid black;">Qty:</th>
            </tr>
            @Html.Raw((String)ViewBag.table)

            @foreach (var book in Model)
            {
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black;">@Html.CheckBox("flagged", Convert.ToBoolean(book.FeatureFlag), new { @value = book.Id })</td>
                    <td style="border: 1px solid black;">@Html.ActionLink(book.Title, "Edit", new { id = book.Id })</td>
                    <td style="border: 1px solid black;">@book.Author</td>
                    <td style="border: 1px solid black;">@book.Quantity</td>
                    <td style="border: 1px solid black;">@Html.ActionLink("Delete", "Delete", new { id = book.Id }, new { @class = "btn btn-primary btn-tiny", @onclick="return confirm('Are you sure you want to delete " + book.Title + "?')" })</td>
                </tr>
            }
                    
        </table>
        <button class="btn btn-default" id ="saver" type="submit" > Save</button>
        </form>
    </div>
<script>
    function verify(x,id) {
        if(x == 0){
            document.getElementById("verifier").style.visibility = "visible";
            document.getElementById("hiddenPost").value = id;
        } else {
            document.getElementById("verifier").style.visibility = "hidden";
        }
       
    }
</script>