@model HedgeHogOtter.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@{
    string modelISBN = Html.DisplayFor(model => model.ISBN) + "";
    string source = "http://covers.openlibrary.org/b/isbn/" + modelISBN + "-M.jpg";
}
<hr />

<div class="row">
    <div class="col-sm-6">
        <b>Description:</b> @Html.DisplayFor(model => model.Description)<br />
        <b>Author:</b> @Html.DisplayFor(model => model.Author)<br />
        <b>Price:</b> @Html.DisplayFor(model => model.Price)<br />
        <b>ISBN:</b> @Html.DisplayFor(model => model.ISBN)<br />
        <b>Publisher:</b> @Html.DisplayFor(model => model.Publisher)<br />
        <b>Condition:</b> @Html.DisplayFor(model => model.BookCondition)<br />
        <b>Publisher Location:</b> @Html.DisplayFor(model => model.PublisherPlace)<br />
        <b>Published Year:</b> @Html.DisplayFor(model => model.PublishYear)<br />
        <b>Quantity Available:</b> @Html.DisplayFor(model => model.Quantity)<br />
        <b>Subject:</b> @Html.DisplayFor(model => model.Subject)<br /><br />
    </div>
    <div class="col-sm-6">
        <img class="card-img-top" src="@Url.Content(source)" alt="Card image cap">

    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>