@model IEnumerable<HedgeHogOtter.Models.Book>

@{
    ViewBag.Title = "Book Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Listings</h2>
<br />

@{ int i = 1; }
<div class="row">
    @foreach (var item in Model)
    {
        string url = "https://www.abebooks.com/servlet/ListingPreview?vi=51369542&vli=" + item.Id;
        string source = "http://covers.openlibrary.org/b/isbn/" + item.ISBN + "-M.jpg";
        if ((i % 3) == 0)
        {
            @:<div class="row">
        }

        <div class="col-sm-4">
            <div class="card col-sm-12">
                <img class="card-img-top col-sm-8 col-sm-offset-1" src="@Url.Content(source)" alt="Card image cap">
                <div class="card-block col-sm-12">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    
                    <a href="@url" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>

        if ((i % 3) == 0)
        {
            @:</div><br /><br />
        }
        i++;
    }
</div>