<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hedgehog & Otter </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body onload="checkLogin()">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"> <img id="logo" height="65" src="http://i.imgur.com/xlP4MWr.png"/></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul id="navbar" style="margin-left:100px; margin-right:1em; float:left;" class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Books", "Index", "Book")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul id="search_bar" class="nav navbar-nav navbar-right"  style="float:right; margin-right:3em; margin-top:1em;">
                    <li>
                        <form method="POST" action="../Book/Index">
                            <input type="text" placeholder="Search Books" name="searchBar" value="" style="vertical-align: middle;" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>



            <p>

                <div id="login" class="row col-md-12">
                    &copy; @DateTime.Now.Year - Hedgehog & Otter
                    <img src="http://i.imgur.com/jU2bmdj.jpg" height="15" onclick="lock.show()" />
                </div>

                <div id="logout" class="row col-md-12" style="display:none;">
                    &copy; @DateTime.Now.Year - Hedgehog & Otter

                    <a style="cursor: pointer;" onclick="new function () {
                 localStorage.removeItem('profile');
                 window.location = '/book/admin';
                }">Log Out</a>
                </div>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script>
        var options = {

            logo: "http://i.imgur.com/K6DjgUj.png",
            primaryColor: "#ec4889",

            redirect: false,
            rememberLastLogin: false,



        };

        // Initiating our Auth0Lock
        var lock = new Auth0Lock(
          'k61wcYRqJjCDCrXEdvy0nwADJrEjbffZ',
          'hedgehogotter.auth0.com', options
        );

        // Listening for the authenticated event
        lock.on("authenticated", function (authResult) {
            // Use the token in authResult to getProfile() and save it to localStorage
            lock.getProfile(authResult.idToken, function (error, profile) {
                if (error) {
                    // Handle error
                    return;
                }
                localStorage.setItem('idToken', authResult.idToken);
                localStorage.setItem('profile', JSON.stringify(profile));
                window.location = "../Book/Admin";
            });
        });

        function checkLogin() {
            if (JSON.parse( localStorage.getItem('profile')).roles != null && JSON.parse( localStorage.getItem('profile')).roles == "admin") {
                document.getElementById("logout").style.display = "block";
                document.getElementById("login").style.display = "none";

                document.getElementById("navbar").innerHTML += '<li>@Html.ActionLink("Admin", "Admin", "Book")</li>';
            }
        }

    </script>
</body>

</html>